body{
    overflow: hidden;
    position: relative;
    font-size: 15px;
}

*::-webkit-scrollbar{
        width: 3px; 
}

*::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}
ul,li{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
}

#map{
    width: 100vw;
    height: 100vh;
}
.wrapper{
    position: absolute;
    left: -5000px;
    top: 100px;
    width: 380px;
    height: 530px;
    background-color: #fff;
    z-index: 2000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header{
    height: 45px;
    background-color: #ff8663;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.svg-mark{
    margin-left: 10px;
    svg{
        fill: #fff;
        stroke: #fff;
    }
}
.adress{
    flex-grow: 2;
    margin-left: 10px;
    color: #fff;
}

.svg-close{
    margin-right: 10px;
    cursor: pointer;
    svg{
        fill: #fff;
    }
}

.maincontent{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.list-comments{
    height: 150px;
    width: 100%;
    overflow: auto;
    ::-webkit-scrollbar{
        width: 5px;
    }
    ul{
        li{
            p{
                margin-top: 5px;
                margin-bottom: 0px;
            }
        }
    }
}

.title{
    text-transform: uppercase;
    color: #ff8663;
}

.user-form{
    display: flex;
    flex-direction: column;
}

#input-name, #input-place, #input-comment{
    border-radius: 10px;
    outline-style: none; 
    margin-top: 10px;
    border-width: 1px;
    padding-left: 5px;
}

#input-name, #input-place{
    line-height: 30px;
}

#input-comment{
    height: 130px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

button{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    border-width: 0;
    background-color: #ff8663;
    color: #fff;
    margin-top: 17px;
    align-self: flex-end;
    cursor: pointer;
}


.slider{
    position: absolute;
    left: 100px;
    top: 100px;
    width: 300px;
    height: 200px;
    background-color: #fff;
    z-index: 20000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.slider-content{
    position: relative;
    width: 90%;
    height: 90%;
    display: block;
}

.back, .forward{
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

.wrap-ul{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider-list{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    left: 0%;
}

.list-elem{
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
}

.slider-comment, .slider-date, .slider-place, .slider-adr{
padding: 5px;
}

.slider-comment{
    flex-grow: 1;
}

.slider-date{
    align-self: flex-end;
    display: inline-block;
    padding: 5px;
}

.paginator{
    display: flex;
    justify-content: space-evenly;
}
.paginator-elem{
    flex-shrink: 1;
    border-top: 1px solid grey;
    cursor: pointer;
    color: grey;
}


.paginator--current{
    border-top: 2px solid black;
    color: black;
}


.slider-close{
    position: absolute;
    top: 5px;
    left: 95%;
    cursor: pointer;
    color: grey;
    font-family: sans-serif;
    font-size: 20px;
}

.slider-adr{
    color: blue;
    cursor: pointer
}